* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug header {
  height: 100px;
}

.debug .pretium {
  height: 500px;
  background-color: #e1d67a;
}

.debug .leadership {
  height: 50px;
  background-color: #abcfe7;
}

.debug .paragrafi {
  height: 600px;
  background-color: #0086ff;
}

.debug footer {
  height: 60px;
  background-color: #8801fe;
}

.contenitore {
  margin: auto;
  /* height: 950px; */
  width: 60%;
  font-family: "Montserrat", sans-serif;
}

header {
  margin-top: 1rem;
}

.logo {
  height: 50px;
  margin: 0.5rem;
}

.site-nav {
  margin: 0.5rem;
}

.site-nav > a {
  color: #afafaf;
  text-decoration: none;
  margin-right: 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.pretium {
  width: 100%;
  background-image: url("./img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  background-color: lightgray;
  background-blend-mode: multiply;
}

.testo {
  color: white;
  padding-left: 3rem;
  padding-top: 16rem;
  padding-bottom: 1rem;
  text-align: left;
}

.title {
  font-size: 1.5rem;
}

.sub-title {
  font-size: 0.85rem;
  margin-bottom: 2rem;
}

.leadership {
  margin-top: 1rem;
}

.title-leader {
  font-size: 1.5rem;
  font-weight: 900;
}

.sub-leader,
.lorem-left {
  color: #afafaf;
  font-size: 0.75rem;
}

.paragrafi {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.left-par,
.middle-par,
.right-par {
  float: left;
  height: 100%;
}

.left-par,
.right-par {
  width: 20%;
}

.img-1, .img-2, .img-3 {
  height: 150px;
  width: 100%;
  border-radius: 0.5rem;
  filter: contrast(0.7);
  object-fit:cover
}

.middle-par {
  width: 56%;
  margin: 0 2%;
}

.paragrafi h4 {
  color: black;
  margin: 0.5rem 0;
  font-weight: 100;
}

footer {
  margin-bottom: 1rem;
}

.design {
  text-align: center;
  line-height: 1rem;
  font-size: 0.75rem;
  padding-top: 0.75rem;
}

#heart {
  color: red;
}
